.page-status{display:inline-block;width:15px;height:15px;position:relative;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}.page-state-color-1{background-color:#C5C5C5;background-image:-moz-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-ms-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-webkit-gradient(linear,0 0,0 100%,from(#DBDBDB),to(#C5C5C5));background-image:-webkit-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:-o-linear-gradient(top,#DBDBDB,#C5C5C5);background-image:linear-gradient(top,#DBDBDB,#C5C5C5);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#C5C5C5', GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}.page-state-color-2{background-color:#FAA732;background-image:-moz-linear-gradient(top,#FBB450,#F89406);background-image:-ms-linear-gradient(top,#FBB450,#F89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#FBB450),to(#F89406));background-image:-webkit-linear-gradient(top,#FBB450,#F89406);background-image:-o-linear-gradient(top,#FBB450,#F89406);background-image:linear-gradient(top,#FBB450,#F89406);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0)}.page-state-color-3{background-color:#5EB95E;background-image:-moz-linear-gradient(top,#62C462,#57A957);background-image:-ms-linear-gradient(top,#62C462,#57A957);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#57A957));background-image:-webkit-linear-gradient(top,#62C462,#57A957);background-image:-o-linear-gradient(top,#62C462,#57A957);background-image:linear-gradient(top,#62C462,#57A957);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0)}.page-state-color-4{background-color:#0E90D2;background-image:-moz-linear-gradient(top,#149BDF,#0480BE);background-image:-webkit-gradient(linear,0 0,0 100%,from(#149BDF),to(#0480BE));background-image:-webkit-linear-gradient(top,#149BDF,#0480BE);background-image:-o-linear-gradient(top,#149BDF,#0480BE);background-image:linear-gradient(to bottom,#149BDF,#0480BE);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0)}.page-state-color-5{background-color:#ECD815;background-image:-moz-linear-gradient(top,#ECD815,#D8C616);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ECD815),to(#D8C616));background-image:-webkit-linear-gradient(top,#ECD815,#D8C616);background-image:-o-linear-gradient(top,#ECD815,#D8C616);background-image:linear-gradient(to bottom,#ECD815,#D8C616);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffecd815', endColorstr='#ffd8c616', GradientType=0)}.page-state-color-6{background-color:#DD4398;background-image:-moz-linear-gradient(top,#DD4398,#C93D8A);background-image:-webkit-gradient(linear,0 0,0 100%,from(#DD4398),to(#C93D8A));background-image:-webkit-linear-gradient(top,#DD4398,#C93D8A);background-image:-o-linear-gradient(top,#DD4398,#C93D8A);background-image:linear-gradient(to bottom,#DD4398,#C93D8A);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffdd4398', endColorstr='#ffc93d8a', GradientType=0)}.page-state-color-7{background-color:#954F99;background-image:-moz-linear-gradient(top,#954F99,#7A387E);background-image:-webkit-gradient(linear,0 0,0 100%,from(#954F99),to(#7A387E));background-image:-webkit-linear-gradient(top,#954F99,#7A387E);background-image:-o-linear-gradient(top,#954F99,#7A387E);background-image:linear-gradient(to bottom,#954F99,#7A387E);background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ff954f99', endColorstr='#ff7a387e', GradientType=0)}.page-state-color-2,.page-state-color-3,.page-state-color-4,.page-state-color-5,.page-state-color-6,.page-state-color-7{-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.gc_wide { width: 932px; }
.gc_wide .gc_container-header { text-align: left; padding-left: 20px;}
table { margin-top: 20px; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
th:first-child { -webkit-border-radius: 6px 0 0 0;-moz-border-radius: 6px 0 0 0;border-radius: 6px 0 0 0; border-left:none}
th:last-child{ -webkit-border-radius: 0 6px 0 0;-moz-border-radius: 0 6px 0 0;border-radius: 0 6px 0 0;border-right:none }

th { width: 40px; padding: 12px 0; background-color: #f5f5f5}
th.gc_th_page_name { width: 912px; text-align: left;}
td { text-align: center; border-top: 1px solid #ddd }
td.gc_status {padding: 12px 0 8px;}
td.gc_pagename { text-align: left; }

.gc_wide form { padding: 0 }
.gc_main_content { padding: 20px; border-bottom: 1px solid #ddd; margin-bottom: 1px;}

.gc_subfooter { background-color: #f5f5f5; padding: 20px }

.gc_search_pages { display: block; padding: 20px 20px 14px; background-color: #f5f5f5; border: 1px solid #e9e9e9; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px;}
#gc_importer_step_pages_import .gc_search_pages { padding-bottom: 19px; }
.gc_search_pages input { display: inline-block; padding: 5px; width: 208px;}
#gc_pagelist_container .gc_search_pages button { display: none; margin-left: 16px; white-space: nowrap; margin-top: -2px; }
#gc_pagelist_container .gc_subfooter { display: none; }
#gc_pagelist_container .gc_main_content { border-bottom: 0 none }
#gc_pagelist_container.checked .gc_main_content { border-bottom: 1px solid #DDD;}

.gc_search_pages .gc_right .dropdown-menu a { padding-left: 8px;}
.gc_search_pages .gc_right .dropdown-menu .page-status { height: 13px; margin-right: 2px; position: relative; top: 1px; width: 13px;}


.gc_search_pages .gc_left .btn-group > .btn:last-child, .gc_search_pages .gc_left .btn-group > .dropdown-toggle { top: -7px; }

#gc_importer_step_pages_import .gc_table_title { width: 712px; }
.gc_settings_container {
	border-top: 0 none;
}
.gc_settings_container > div {
	background-color: #555;
	padding: 10px;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.gc_settings_col a span.caret {
	position: relative;
	top: 7px;
	border-bottom: 0 none;
}
.gc_settings_col a span.caret {
	border-top: 4px solid #000000;
}
.gc_settings_col a span.caret-up {
	border-bottom: 4px solid #000000;
	border-top: 0 none;
	top: 6px;
}


.gc_settings_header .gc_setting { float: left; display: inline-block; margin-right: 20px; }
.gc_settings_header { padding: 10px }
.gc_setting label { font-weight: bold; font-size: 14px; margin-right: 5px }
.hidden-item { display: none; }
.gc_settings_header .repeat_config {
	padding-top: 4px;
	float: right;
	margin-right: 0;
}
.repeat_config input {
	margin-left: 5px;
	position: relative;
	top: 1px;
}


.gc_settings_field {
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	background-color: #474747;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 7px 10px 7px 30px;
	position: relative;
}
.gc_move_field {
	height: 14px;
	width: 6px;
	background: url('../img/sort_field.png') no-repeat scroll left top transparent;
	position: absolute;
	top: 12px;
	left: 14px;
	cursor: pointer;
}
.gc_settings_field .gc_left {
	padding-top: 4px;
	font-style: italic;
}
.gc_settings_field .btn-group {
	font-weight: normal;
	margin-left: 20px;
}
.gc_settings_field > div, .not-moved > div, .moved:hover > div {
	color: #fff;
}
.moved > div {
	color: #b3b3b3;
}
.moved .gc_move_field {
	background-position: left bottom;
}
.moved:hover .gc_move_field {
	background-position: left top;
}
.gc_settings_field .btn, .not-moved .btn, .moved:hover .btn {
	opacity:1;
	filter:alpha(opacity=100);
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	*background-color: #e6e6e6;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.moved .btn {background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.dropdown-menu > li.inputting, .dropdown-menu > li.live_filter {
	padding: 3px 15px
}
.dropdown-menu > li input {
	width: 100%;
}
.gc_settings_container .open > .dropdown-menu, .gc_search_pages .open > .dropdown-menu {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.gc_search_pages .gc_left .open > .dropdown-menu {
	top: 80%;
}
.gc_pagelist tr.checked td { background-color: #FFFDBF; }
.gc_pagelist tr:hover td { background-color: #BFD9F5; }

.gc_modal {
	text-align: center;
	padding: 0 20px 20px;
	position: fixed;
	z-index: 100;
	background-color: #fff;
	left: 50%;
	margin-left:-148px;
	top:50%;
	margin-top:-40px;
	display: none;
}
.gc_overlay {
	display: none;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #000;
	z-index: 90;
	opacity:0.65;
	filter:alpha(opacity=65);
}

#gc_pages .gc_tab_name { display: inline-block; font-size: 12px; background: #000; padding: 1px 5px; margin-right: 5px; -webkit-border-radius: 6px;-moz-border-radius: 6px;border-radius: 6px }
